# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Astro is putting this in the top-level functions dir instead of in output. 
# We handle copying it to the output as part of the build.
functions/\[\[path\]\].js

.wrangler

# Not sure if all the data here is safe to expose so keeping it out of Git for now
wrangler.toml